OPENROUTER_API_KEY=ress-2413
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
LLM_MODEL=meta-llama/llama-3.3-70b-instruct:free
EMBEDDING_MODEL=all-MiniLM-L6-v2
LANGCHAIN_API_KEY=resume-screening-2416
LANGCHAIN_PROJECT=resume-screener
LOG_LEVEL=INFO
